.slider{
    aspect-ratio: 10-16;
    width:100%;
    position: relative;
    display: flex;
    overflow: scroll;
}
.slide{
    width:100%;
    left:0%;
    position: sticky;
    border-radius: 5px;
    scroll-snap-align: center;
}